In [2]:
import pandas as pd

In [5]:
readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv")
readFile

    Name  Age    Language
0    Raj   20      Python
1  Alice   19        Java
2    Sky   21           C
3  Shawn   25  Javascript

In [9]:
# Change Header portion file
# Header number -> row number
readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv",header=2)
readFile

   Alice  19        Java
0    Sky  21           C
1  Shawn  25  Javascript

In [10]:
# If Header -> none
readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv",header = None)
readFile

       0    1           2
0   Name  Age    Language
1    Raj   20      Python
2  Alice   19        Java
3    Sky   21           C
4  Shawn   25  Javascript

In [12]:
# Prefix
# To set column names if there is none -> Prefix
readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv",header=None,prefix="Values")
readFile

C:\Users\Rajarshi Ray\AppData\Local\Temp\ipykernel_9376\770190607.py:2: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv",header=None,prefix="Values")

  Values0 Values1     Values2
0    Name     Age    Language
1     Raj      20      Python
2   Alice      19        Java
3     Sky      21           C
4   Shawn      25  Javascript

In [14]:
# Names -> Set separate values in each column name
readFile = pd.read_csv("F:\\JUPYTER-CODE\\Machine-Learning-and-AI-Basics\\datasheet.csv",header=None,names=["Name","Age values","Fav Lang"])
readFile

    Name Age values    Fav Lang
0   Name        Age    Language
1    Raj         20      Python
2  Alice         19        Java
3    Sky         21           C
4  Shawn         25  Javascript