In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [5]:
my_list = [1,2,3,4,5,"pandas"]
print(my_list)

[1, 2, 3, 4, 5, 'pandas']

In [8]:
series_1 = pd.Series(my_list)   # Makes a table of index vs values
print(series_1)

0         1
1         2
2         3
3         4
4         5
5    pandas
dtype: object

In [9]:
series_emp = pd.Series([])    # Empty Series
print(series_emp)

Series([], dtype: float64)

C:\Users\Rajarshi Ray\AppData\Local\Temp\ipykernel_13152\653929379.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series_emp = pd.Series([])

In [10]:
series_1_ind = pd.Series(my_list,index=['a','b','c','d','e','f'])  # Index gives label
print(series_1_ind)

a         1
b         2
c         3
d         4
e         5
f    pandas
dtype: object

In [11]:
# name gives Table name by user
series_1_ind = pd.Series(my_list,index=['a','b','c','d','e','f'],name="My First Table")
print(series_1_ind)

a         1
b         2
c         3
d         4
e         5
f    pandas
Name: My First Table, dtype: object

In [12]:
# Dictionary 
series_dict = pd.Series({
    "name" : "Ray",
    "age" : 20,
    "lang" : "Python"
})

print(series_dict)

name       Ray
age         20
lang    Python
dtype: object

In [13]:
# Scalar Values
series_scalar = pd.Series(4)
print(series_scalar)

0    4
dtype: int64

In [16]:
my_list = [1,2,3,4,5,"pandas"]
print(my_list)

[1, 2, 3, 4, 5, 'pandas']

In [22]:
series_1 = pd.Series(my_list)   # Makes a table of index vs values
print(series_1)

0         1
1         2
2         3
3         4
4         5
5    pandas
dtype: object

In [15]:
my_list[2]   # To get values as per index

3

In [20]:
my_list[1:4]

[2, 3, 4]

In [26]:
series_1[1:4]  # Get value of series

1    2
2    3
3    4
dtype: object

In [27]:
add_1 = pd.Series([1,2,3,4])
add_2 = pd.Series([1,2,3,4])

In [28]:
add_1+add_2    # Add the Series

0    2
1    4
2    6
3    8
dtype: int64