In [1]:
import pandas as pd

In [3]:
# Read CSV Files from target directory

pd.read_csv("E:\\CODE\\JUPYTER\\datasheet.csv")

    Name  Age    Language
0    Raj   20      Python
1  Alice   19        Java
2    Sky   21           C
3  Shawn   25  Javascript