In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import math

In [4]:
# import dataset

house_data = pd.read_csv("house_data_mul.csv")
house_data

    price  area  bedroom  age
0  400000  2000      2.0   20
1  500000  2500      2.0   22
2  945321  9000      5.0   26
3  600000  4000      NaN   21
4  895421  8500      4.0   23

In [6]:
# get median of bedroom column for fill up missing value
bed_median = math.floor(house_data["bedroom"].median())
bed_median

3

In [9]:
# fill the NA value of bedroom

house_data_final = house_data.fillna(bed_median)
house_data_final  # final list

    price  area  bedroom  age
0  400000  2000      2.0   20
1  500000  2500      2.0   22
2  945321  9000      5.0   26
3  600000  4000      3.0   21
4  895421  8500      4.0   23

In [11]:
# create regression class
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [12]:
# Create Train Data
reg.fit(house_data_final[["area","bedroom","age"]],house_data_final.price)

LinearRegression()

In [13]:
# Create Test Data
reg.predict([[5500,6,23]])

F:\ANACONDA\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([683368.27252252])

In [14]:
reg.coef_   # coeff of function

array([   67.65882432, -4006.72747748, 10235.1036036 ])

In [15]:
reg.intercept_   # intercept

99877.72072071955